.home-body{
    background-color: #004DB3;
}
.images{
    width: 100%;
    background-color: #004DB3;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.platforms{
    background: #CCDBF0;
    display: flex;
    gap: 73px;
    padding: 52px 0px 52px 0px;
    align-items: center;
    justify-content: center;
}